# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Build artifacts
/bin/
/pkg/

# Dependency directories (for Go modules)
vendor/

# IDE and editor files
.idea/
.vscode/
*.

# env
.env

#tmp
tmp/